* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'kanit';
}

/* navbar */
.navbar {
    background-color:#0096FF;
    display: flex;
    justify-content: space-between;
    padding: 30px 30px;
    font-size: 1rem;
}

.logo {
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.logo img {
    width: 80px;
}

.navbar a {
    color: #fff;
}

/* button */
.nav-menu {
    display: flex;
    align-items: center;
}

button {
    padding: 15px 30px;
    font-family: 'prompt';
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border: 0px;
}

.but {
    display: flex;
    justify-content: center;
}
.button {
    color: rgb(255, 255, 255);
    background-color: transparent;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: yellow;
    color: rgb(0, 0, 0);
}

.active {
    background-color: yellow;
    color: black;
    font-weight: bold;
}

/* header */
.toppic {
    display: flex;
    justify-content: center;
    margin: 30px;
}
.header {
    display: flex;
    margin: 30px;
}

.dora-info {
    padding: 0px 40px;
}

.dora-img img {
    border-radius: 20px;
    
    box-shadow: 1px 3px 4px black;
}

.dora-img {
    transition: all 0.5s ease;
}

.dora-img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
}
.grow-img img {
    width: 400px;
}

/* footer */
.footer {
    height: 100%;
    background-color: rgb(0, 0, 0);
    align-items: center;
    padding: 30px;
    color: #fff;
    margin-bottom: 0;
    margin-left: 0;
}

.foot {
    display: flex;
    align-items: center;
    gap: 10px;
}

.foot-text {
    align-items: center;
}

.foot img {
    width: 80px;
}

/* footer */
.footer {
    height: 100%;
    background-color: rgb(0, 0, 0);
    align-items: center;
    padding: 30px;
    color: #fff;
    margin-bottom: 0;
    margin-left: 0;
}

.foot {
    display: flex;
    align-items: center;
    gap: 10px;
}

.foot-text {
    align-items: center;
}

.foot img {
    width: 80px;
}